body.fondo-arcade {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #003a2f, #001d17);
  font-family: 'Arial Black', sans-serif;
  color: #ffcc00;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-login {
  background: #002a20;
  border: 5px solid #00ff88;
  border-radius: 20px;
  padding: 40px;
  width: 300px;
  box-shadow: 0 0 20px #00ff88;
  text-align: center;
}

h1.titulo {
  font-size: 2.5em;
  color: #ffaa00;
  margin-bottom: 30px;
  text-shadow: 2px 2px #000;
}

label {
  display: block;
  margin: 15px 0 5px;
  font-size: 1em;
  color: #ffcc00;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 3px solid #00ff88;
  border-radius: 10px;
  background: #000;
  color: #00ff88;
  font-size: 1em;
  outline: none;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #00cc66;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 2px #000;
}

button:hover {
  background: #00ff88;
  color: #000;
}

.registro-link {
  display: block;
  margin-top: 15px;
  color: #00ff88;
  text-decoration: none;
  font-weight: bold;
}

.registro-link:hover {
  text-decoration: underline;
}
